@charset "UTF-8";

/* 全ページ共通 */
html {
  line-height: normal;
}
html,body,
#content,#content_right,
main {
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
p {
  margin: 0;
}
h2,h3 {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}
button,input {
  outline: none;
}
button {
  border: none;
}
button:focus {
  background: none;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
.en {
  font-family: 'Montserrat', sans-serif;
}
.ja,.class_name {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
#content {
  display: flex;
}
#content_right {
  width: 100%;
}

/* ここからコピペ */

#message {
  display: flex;
  height: 100%;
}
#accounts {
  background: #363D45;
  color: #fff;
  padding: 80px 0 30px;
  width: 230px;
}
.account_search {
  color: #272C32;
  margin: 0 10px 40px;
  position: relative;
}
.account_search i {
  margin: 0 0 0 10px;
  vertical-align: middle;
}
.account_search input {
  background: none;
  border: none;
  border-bottom: 2px solid #272C32;
  bottom: -3px;
  color: #fff;
  font-size: 16px;
  left: 0;
  padding: 5px 20px 5px 40px;
  position: absolute;
  width: 150px;
}
.account_search input::placeholder {
  color: #272C32;
}

.account_list li {
  margin: 0 0 20px;
  padding: 5px 20px;
  width: 190px;
}
.active {
  background: #272C32;
}
.account_list li h3 {
  font-size: 16px;
  font-weight: 100;
  margin: 10px 0 0;
}
.account_list li img {
  float: left;
  margin: 0 10px 0 0;
  width: 40px;
}


















/**/

/* ここまでコピペ */
