@charset "UTF-8";

/* 全ページ共通 */
html {
  line-height: normal;
}
html,body,
#content,#content_right,
main {
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 80px;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
a {
  text-decoration: none;
}
a:hover {
  transition: color 0.35s ease;
  -webkit-transition: color 0.35s ease;
  -moz-transition: color 0.35s ease;
}
p {
  margin: 0;
}
h2,h3 {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}
textarea {
  resize: none;
}
button,input,textarea {
  outline: none;
}
button {
  border: none;
}
button:focus {
  background: none;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
.en {
  font-family: 'Montserrat', sans-serif;
}
.ja,.class_name {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}


/* ここからコピペ */

.open_classbox {
  background: #fff;
  border-radius: 6px;
  margin: 0 auto;
  padding: 40px 0;
  width: 80%;
}
.open_classbox form {
  display: flex;
  justify-content: center;
}
label {
  color: #575A61;
  display: inline-block;
  font-size: 15px;
  width: 135px;
}
input {
  border: 1px solid #CECECE;
  border-radius: 50px;
  font-size: 15px;
  outline: none;
  padding: 10px 20px;
  width: 418px;
}
input:focus {
  border: 1px solid #F7745D;
  box-shadow: none;
}
.class_name,.class_txt,
.genre_select,.language_select,.level_select,
.price {
  margin: 0 0 20px;
}
.class_txt textarea {
  border: 1px solid #CECECE;
  border-radius: 15px;
  vertical-align: top;
  width: 454px;
}
.genre_select a,.language_select a,.level_select a {
  border: 1px solid #CECECE;
  border-radius: 50px;
  display: inline-block;
  padding: 7px 20px;
  vertical-align: middle;
  width: 418px;
}
.genre_select i,.language_select i,.level_select i {
  color: #575A61;
  float: right;
}
.all_price {
  margin: 30px 0 0;
  width: 595px;
}
.all_price li {
  color: #575A61;
  font-size: 14px;
  margin: 0 0 20px;
  text-align: right;
}
.all_price li span {
  margin: 0 0 0 200px;
}
.all_price .profits {
  color: #272C32;
  font-size: 20px;
  font-weight: bold;
}
.upload_img {
  height: 230px;
  margin: 0 40px 0 0;
  width: 230px;
}
.btnbox {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}
button {
  border-radius: 50px;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  margin: 0 10px;
  outline: none;
  padding: 5px;
  width: 200px;
}
.cancel {
  background: #575A61;
}
.open {
  background: #F7745D;
}

/* -- ここまでコピペ -- */
